html {
  margin: 0;
}

body {
  font-family: Helvetica;
  min-width: 350px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}


.container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.container-main {
  grid-column: 2 / 3; 
}

.container-main h1 {
  padding: 20px 20px 20px 0;
  color: hsl(233, 0%, 20%);
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
  margin-bottom: 30px;
}

.main-form-wrapper {
  background-color: hsl(225, 14.3%, 94.5%);
  padding: 50px 30px;
  border-radius: 4px;
}

.main-form-wrapper h2 {
  display: flex;
  justify-content: center;
  font-weight: normal;
  color: hsl(233, 0%, 20%);
  font-size: 1.7rem;
  
}

.container-form label {
  text-align: center;
  padding: 6px;
  font-size: 1rem;
  color: hsl(233, 0%, 20%);
}

.container-form input {
  border: 1px solid hsl(0, 3.5%, 72%);
  padding: 8px;
  border-radius: 5px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.submit-wrapper {
  display: flex;
  justify-content: center;
}

.submit-btn {
  background-color: hsl(233, 48%, 61%);
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  padding: 18px 22px;
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
}

.bookmark {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid hsl(0, 3.5%, 72%);
  margin: 10px;
  padding: 10px 10px;
}

.bookmark h3 {
  padding: 8px;
  font-size: 1rem;
  color: hsl(233, 0%, 20%);
}

.visit-btn {
  background-color: hsl(0, 3.5%, 72%);
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

.delete-btn {
  background-color: rgb(216, 4, 4);
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
}

@media (max-width: 770px) {
  .container-grid {
    grid-template-columns: 1fr;
    padding: 0 20px 0 20px;
  }

  .container-main {
    grid-column: span 1;

  }
}

@media (max-width: 500px) {
  .main-form-wrapper h2 {
    text-align: center;    

  }
}





